.main-logo img {
  width: 210px;
  height: auto;
}

.header {
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  z-index: 99;
}

.custom-logo-link img {
  max-width: 230px;
}
.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-wrap .custom-logo-link {
  margin-right: 19px;
}

.logo-wrap .site-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 238px;
}

.upper-header {
  padding: 20px 0;
}

.header-contact-info ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
}

.header-contact-info ul li a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-contact-info ul li a>br {
  display: none;
}

.header-contact-info ul li a span b {
  font-size: 16px;
}

.header-contact-info ul li a span {
  font-size: 14px;
}

.header-contact-info ul li a .icon {
  margin-right: 13px;
}

#menu-social-media li a,
.header .social-menu li a {
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
  color: #fff;
  background-color: var(--cl-primary);
}

#menu-social-media li a:hover,
.header .social-menu li a:hover {
  border-color: #fff;
  color: #000;
  background-color: #fff;
}

.social-menu,
#menu-social-media {
  display: flex;
  gap: 0 12px;
}

.social-menu li a>img,
#menu-social-media li a>img {
  height: 18px;
}

.header .social-menu li a:hover>img,
#menu-social-media li a:hover>img {
  filter: invert();
}

#menu-social-media li a:before,
.header .social-menu li a:before {
  content: attr(title);
  font-size: 11px;
  position: absolute;
  bottom: calc(100% - -4px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s;
}

#menu-social-media li a:hover::before,
.header .social-menu li a:hover::before {
  opacity: 1;
  color: #fff;
}

.icon {
  background-color: var(--cl-primary);
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #fff;
}

.header-contact-info ul li:after {
  content: "";
  background-color: #fff;
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.header-contact-info ul li {
  position: relative;
}

.header-contact-info ul li {
  margin-right: 36px;
}

.header-contact-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding-top: 15px; */
}

.header-contact-wrap ul {
  padding-left: 0;
  margin: 0;
}

.social-menu a {
  font-size: 18px;
  transition: 0.3s;
}

.header a {
  transition: 0.3s;
  text-decoration: none;
}

.header a:hover {
  color: var(--c-primary);
}

.navbar-nav>li>a {
  font-size: 18px;
  padding: 18px 0;
  display: inline-block;
  font-weight: 500;
}

.navbar-nav>li:not(:last-child) {
  margin-right: 54px;
}

.fixed-header .navbar-nav>li:not(:last-child) {
  margin-right: 36px;
}

.header li.contact-btn {
  margin-left: auto !important;
}

.navbar-nav {
  width: 100%;
}

.header li.contact-btn a.mega-menu-link  {
  background-color: var(--c-primary) !important;
  padding-left: 38px !important;
  padding-right: 38px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.header li.contact-btn a.mega-menu-link:hover {
  color: #fff !important;
  opacity: 0.85 !important;
}

.bottom-header {
  background-color: #ffffff70;
}

.fixed-header .bottom-header {
  background-color: #fff;
}

.bottom-header-logo {
  display: none;
  margin-right: 20px;
}

.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 3px 10px #0000005c;
}

.fixed-header .upper-header {
  display: none;
}

.fixed-header .bottom-header-logo {
  display: block;
}

.bottom-header-logo .custom-logo {
  width: 102px;
}

.fixed-header .navbar-nav {
  justify-content: flex-end;
  align-items: flex-start;
}

.fixed-header .navbar-nav .contact-btn {
  margin-left: unset;
}

.menu-btn {
  cursor: pointer;
  position: relative;
  padding: 6px 14px;
  opacity: 1;
  line-height: 1;
}

.menu-btn span {
  position: absolute;
  background: #fff;
  width: 26px;
  height: 2px;
  transition: 0.4s 0.4s top, 0.4s 0.4s bottom, 0.3s transform;
  border-radius: 100px;
  left: 0;
  right: 0;
}

.menu-btn span:nth-of-type(1) {
  top: 7px;
}

.menu-btn span:nth-of-type(2) {
  top: 50%;
  opacity: 1;
  transition: opacity 0.1s 0.4s;
  transform: translateY(-50%);
}

.menu-btn span:nth-of-type(3) {
  bottom: 7px;
}

.close span {
  transition: 0.4s top, 0.4s bottom, 0.4s 0.4s transform;
}

.close span:nth-of-type(1) {
  top: 50%;
  transform: rotate(45deg);
}

.close span:nth-of-type(2) {
  opacity: 0;
  transition: opacity 0.1s 0.4s;
}

.close span:nth-of-type(3) {
  bottom: 42%;
  transform: rotate(-45deg);
}

.header .navbar-toggler {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background-color: var(--c-primary);
  padding: 1px 2px 1px 4px;
  border-radius: 2px;
  height: 31px;
}

.navbar-nav li.current-menu-item>a:not(.contact-btn a),
.navbar-nav li.current-menu-parent>a {
  color: var(--c-primary);
  font-weight: 700;
}

li.menu-item-has-children::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: calc(50% + 3px);
  opacity: 0.5;
  font-size: 16px;
  color: inherit;
  transform: translateY(-50%);
  right: 0;
  font-weight: 100;
}

.navbar-nav li.current-menu-parent::after {
  color: var(--c-primary);
  opacity: 1;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #1975c0;
  top: 100%;
  left: 0;
  width: 190px;
  color: #fff;
}

.menu-item-has-children {
  position: relative;
  padding-right: 20px;
}

.sub-menu>li:not(:last-child) {
  margin-bottom: 8px;
}

.sub-menu>li>a {
  font-size: 15px;
}

.menu-item-has-children:hover>.sub-menu {
  display: block;
}

.navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children .sub-menu {
  left: 100%;
}

.sub-menu>li>a {
  padding: 10px 12px;
  margin-bottom: 0;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.sub-menu>li>a:hover{
  background-color: #fff;
  color: #000;
}
.sub-menu>li .sub-menu {
  top: 0;
}

.sub-menu>li.menu-item-has-children:after {
  right: -4px;
  rotate: -90deg;
  top: 15px;
}

.sub-menu li:not(:last-child) {
  border-bottom: 1px solid #ffffff61;
  margin-bottom: 0;
}

.fixed-header .custom-logo-link img {
  max-width: 50px;
}


.mega-menu {
  width: 100% !important;
}
.mega-menu-wrap {
  width: 100% !important;
  display: block;
}


/* .unable-courses {
  display: none;
}

.page-template-courses-template .unable-courses,.single-courses .unable-courses {
  display: block;
} */

@media (min-width: 992px) {
  .navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children>.sub-menu {
    grid-template-rows: repeat(9, auto);
    grid-auto-flow: column;
    width: 380px;
    background-color: transparent;
    grid-template-columns: 50%;
  }

  .navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children>.sub-menu>li {
    background-color: var(--c-primary);
  }

  .navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children:hover>.sub-menu {
    display: grid;
  }
  .navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children>.sub-menu>li:nth-child(9) {
    border-bottom: unset;
}

  .navbar-nav>li.menu-item-has-children>ul>li.menu-item-has-children>.sub-menu>li>.sub-menu li>a {
    background-color: #3a444c;
  }
}

@media (max-width: 1400px) {
  .navbar-nav>li:not(:last-child) {
    margin-right: 28px;
  }

  .fixed-header .navbar-nav>li:not(:last-child) {
    margin-right: 16px;
  }

  .navbar-nav>li>a {
    font-size: 17px;
  }
}

@media (max-width: 1199px) {
  .navbar-nav>li:not(:last-child) {
    margin-right: 20px;
  }

  .fixed-header .navbar-nav>li:not(:last-child) {
    margin-right: 8px;
  }

  .logo-wrap .site-description {
    font-size: 16px;
  }

  .navbar-nav>li>a {
    font-size: 14px;
  }

  .header-contact-info ul li a span b {
    font-size: 15px;
  }

  .header-contact-info ul li a span {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    left: -301px;
    top: 0;
    bottom: 0;
    height: 100% !important;
    background-color: #222;
    width: 300px;
    padding: 10px 10px 56px;
    transition: 0.3s;
    overflow-y: auto;
  }

  .navbar-collapse.show {
    left: 0;
  }

  .fixed-header .bottom-header-logo {
    display: none;
  }

  .navbar-nav>li>a {
    padding: 8px 0px;
  }

  .navbar-nav li {
    width: 100%;
  }

  .header li.contact-btn a {
    width: 100%;
    text-align: center;
  }

  .header li.contact-btn {
    margin-top: 16px;
    margin-bottom: 11px;
  }

  .header-contact-info ul {
    flex-wrap: wrap;
    margin-top: 14px;
  }

  .header-contact-info ul li {
    width: 100%;
    margin-bottom: 16px;
  }

  .header-contact-info ul li::after {
    display: none;
  }

  .header-contact-info ul li {
    margin-right: 0;
  }

  .social-menu {
    padding-left: 0;
    margin-bottom: 0;
  }

  .header-contact-info ul li:last-child {
    padding-left: 44px;
  }

  .header-contact-info ul li a .icon {
    margin-right: 11px;
  }

  .fixed-header .upper-header {
    position: fixed;
    padding-bottom: 7px;
    left: 0;
    right: 0;
    transition: 0.3s;
    display: block;
    background-color: #00000085;
  }

  .custom-logo-link img {
    max-width: 90px;
  }

  .logo-wrap .site-description {
    font-size: 13px;
    max-width: 186px;
  }

  .logo-wrap .custom-logo-link {
    margin-right: 11px;
  }

  .menu-item-has-children:hover .sub-menu {
    display: none;
  }

  .menu-item-has-children .sub-menu.mobile-subopan {
    display: block;
  }

  .sticky-overlay {
    height: 100vh;
    overflow: hidden;
  }

  .sticky-overlay:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #00000040;
    z-index: 98;
  }

  .mobile-click {
    position: absolute;
    right: -2px;
    top: 9px;
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 9;
  }

  .sub-menu {
    position: unset;
    width: 100%;
    padding: 0px 10px 0px;
    border-left: 3px solid var(--c-primary);
    background-color: transparent;
  }

  .navbar-nav>li.menu-item-has-children::after {
    transform: unset;
    top: 12px;
  }

  .sub-menu li.subopaned {
    border-bottom: 0;
  }

  .sub-menu li.subopaned {
    border-bottom: 0;
  }

  .sub-menu>li>a {
    font-size: 13px;
    padding: 8px 5px;
  }

  .menu-item-has-children {
    padding-right: 0;
  }

  .sub-menu>li.menu-item-has-children::after {
    rotate: 0deg;
    right: 1px;
    top: 20px;
  }
}



/* mega menu start */

#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1{
  display: flex;
}